<div class="container">
  <div class="row">
    <div class="col-lg-2">    
    </div>
    <div class="col-lg-8">    
    
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">S.NO</th>
        <th scope="col">professor</th>
        <th scope="col">SUBJECT</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>ENGLISH</td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>MATHS</td>
      
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>SCIENCE</td>
        
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>MAX</td>
        <td>SOCIAL</td>
        
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>JHON</td>
        <td>FRENCH</td>
       
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>MARK</td>
        <td>OPTIONAL</td>
        
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-2">     
</div>
</div>
</div>