<div class="container">
    <div class="jumbotron">
      <h1>student portal</h1>    
 </div>
 <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>TRANSPORT FACILITY</h2>       
        <div class="fakeimg"></div>
        <p>Transportation facilities means highways, turnpikes, airports, railroads, including high-speed railroads, bicycle and pedestrian facilities, waterways, pipelines, electric utility facilities, communication lines and facilities, public transportation facilities, port facilities, and facilities appurtenant to other ..</p>
        <h3>Some Links</h3>       
        <ul class="nav nav-pills nav-stacked">
            <button type="button" class="btn btn-outline-primary" routerLink="playground">playground</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br>
            <button type="button" class="btn btn-outline-primary" routerLink="staff">timetable</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-outline-primary" routerLink="help">help</button>
        </ul>
        <hr class="hidden-sm hidden-md hidden-lg">
      </div>
      <div class="col-sm-8">
        <h2>ADMISSIONS OPEN</h2>
        <h5><b>FOR THE YEAR 2020-21</b></h5>
        <div class="fakeimg"></div>
        <p><i>HURRY UP...</i></p>
        <p>Our School provides English classes for fluent English speaking children between the ages of 3 to 11 being brought up in a bilingual environment. ... Our School is a non-profit Association and was established in 2003. It is run by a team of administrators and fully trained English-language mother tongue teachers</p>
        <br>
        <h2>Upcomming Event's</h2>
        <h5></h5>
        <div class="fakeimg"></div>
        <ul>
          <li>Throw a back-to-school cookout. ...</li>
          <li>Face-paint with your school colors. ...</li>
          <li>Have a school movie night. ...</li>
          <li>Hold a poster contest.</li>
          <li> Choose a new school mascot. ...</li>
          <li> Designate special dress-up days. ...</li>
          <li>Come up with a school handshake or wave. ...</li>
          <li>Hold a T-shirt-decorating contest.</li>
        </ul>         
            
           
          
      </div>
    </div>
  </div>
  
  